@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.tipografia{
  font-family: "Bree Serif", serif;
  color: #023973;
}
/* Botón del carrito */
.carrito-btn {
  background: none;
  border: none;
  cursor: pointer;
  height: 40px;
}

/* Fondo oscuro cuando está abierto */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.carrito-btn:hover {
  color: #D4D4D4;
  transform: scale(1.1);
}


/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  right: -500px; /* inicialmente oculto */
  width: 300px;
  height: 100%;
  background: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  transition: right 0.3s ease;
  z-index: 100;
  padding: 20px;
  padding-top: 60px;
}

.sidebar.open {
  right: 0; /* cuando se abre */
}

.close-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;

}

.pestaña button {
  font-family: "Bree Serif", serif;
  padding: 3px;
  border: 1px solid #333;
  background-color: #f8f8f8;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.2s ease; /* suaviza los cambios */
}

/* Cuando pasás el mouse */
.pestaña button:hover {

  transform: scale(1.05);
}

/* Cuando lo presionás */
.pestaña button:active {
  background-color: #ccc;
  transform: scale(0.95);
}


.pestaña{
font-family: "Bree Serif", serif ;
color: #023973;
}


/* Contenedor circular con botones */
.cantidad-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #f7f7f7;
  border-radius: 20px;
  padding: 4px 10px;
  gap: 8px;
  margin: 0 20px;
  
  
}

/* Botones + y - */
.circle-btn {
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  background-color: #eee;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  color: #023973;
  
}

.circle-btn:hover {
  background-color: #ddd;
}

/* Número de cantidad */
.cantidad {
  min-width: 40px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-left: -10px;
}

/* Precio */
.precio {
  margin-left: 10px;
  font-size: 14px;
  color: #555;
}
